.logo{
  width: 7%;
  height: auto;
  margin-top: 15px;
  justify-content: center;
  display : flex;

}
h1 {
color:red;
text-decoration-style: solid;
} 

body {
    background-color: lightblue;
    justify-content: center;
    display : flex;
  }

  img {
    display: block;
    margin : 10px;
    justify-content: center;

  }

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    justify-content: center;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

.gallery-left{
  margin-right: 80%;
}